<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="utf-8">

    {{ partial "head/scripts.html" . }}

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href={{ .Site.Params.favicon | default "/favicon.png" }}>

    <!-- META -->
    {{ partial "head/meta.html" . }}

    <!-- CSS stylesheets -->
    {{ partial "head/stylesheets.html" . }}

    <!-- Custom style tag for parameterized CSS -->
    {{ partial "head/css.html" . }}
</head>
