{{/* JS bundle: light/dark + hamburger + toc + codeblock */}}
{{ $js := slice
    (resources.Get "js/light_dark.js")
    (resources.Get "js/hamburger.js")
}}

{{ if not .Site.Params.hideToc }}
    {{ $js = $js | append (resources.Get "js/toc.js") }}
{{ end }}

{{ $js = $js | append (resources.Get "js/codeblock.js") }}

{{ $js_bundle := $js | resources.Concat "js/bundle.js" | minify | fingerprint }}

<script defer type="text/javascript" src="{{ $js_bundle.RelPermalink }}"></script>

{{ if .Site.Params.plausible }}
<script defer data-domain="{{ .Site.Params.plausible_domain }}" src="{{ .Site.Params.plausible_script }}"></script>
{{ end }}

{{/* Pagefind search */}}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showSubResults: true,
            showImages: false,
            excerptLength: 15
        });
    });
</script>
