{{/* JS bundle: light/dark + hamburger + toc + codeblock */}}
{{ $js := slice
    (resources.Get "js/boot-splash.js")
    (resources.Get "js/light_dark.js")
    (resources.Get "js/hamburger.js")
}}

{{ if not .Site.Params.hideToc }}
    {{ $js = $js | append (resources.Get "js/toc.js") }}
{{ end }}

{{ $js = $js | append (resources.Get "js/codeblock.js") }}

{{ $js_bundle := $js | resources.Concat "js/bundle.js" | minify | fingerprint }}

<script defer type="text/javascript" src="{{ $js_bundle.RelPermalink }}"></script>
<script>console.log("%c ","font-size:1px;padding:48px;background:url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Crect x='1' y='0' width='1' height='1' fill='%2300aa00'/%3E%3Crect x='2' y='1' width='1' height='1' fill='%2300aa00'/%3E%3Crect x='0' y='2' width='1' height='1' fill='%2300aa00'/%3E%3Crect x='1' y='2' width='1' height='1' fill='%2300aa00'/%3E%3Crect x='2' y='2' width='1' height='1' fill='%2300aa00'/%3E%3C/svg%3E\") no-repeat center/contain");console.log("%c sindro.me\n%c You found the console. You're one of us.\n Source: https://github.com/vjt/sindro.me","font-family:monospace;font-size:20px;font-weight:bold;color:#0a0","font-family:monospace;font-size:14px;color:#888")</script>

{{ if .Site.Params.plausible }}
<script defer data-domain="{{ .Site.Params.plausible_domain }}" src="{{ .Site.Params.plausible_script }}"></script>
{{ end }}

{{/* Pagefind search */}}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showSubResults: true,
            showImages: false,
            excerptLength: 15
        });
    });
</script>
