<div class="info">
  <div class="post-meta">
    {{ if .Date }}
    <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z0700" }}" class="post-date">
      {{ .Date | time.Format ":date_long" }}
    </time>
    {{ end }}
    <span class="post-meta-sep">·</span>
    <span class="reading-time">{{ .ReadingTime }} {{ i18n "min_read" }}</span>
  </div>

  <h1 class="post-title" data-pagefind-meta="title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>

  {{ if .Params.tags }}
  <ul class="tags">
    {{ range .Params.tags }}
    <li class="tag-{{ . }}">
      <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}

  {{ if .Params.series }}
  <p class="seriesname">
    {{ i18n "series_label" }}: <a href="{{ "series/" | absLangURL }}{{ .Params.series | urlize }}">{{ .Params.series }}</a>
  </p>
  {{ end }}

  {{ if .Params.featuredImage }}
  <div class="featured-image">
    {{ $img := .Resources.GetMatch .Params.featuredImage }}
    {{ if $img }}
    <img src="{{ $img.RelPermalink }}" alt="{{ .Title }}">
    {{ else }}
    <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}">
    {{ end }}
  </div>
  {{ end }}
</div>
