<hr>
<div class="footer" data-pagefind-ignore>
    {{ if .Params.categories }}
    {{ $Site := .Site }}
    {{ $last := add (len .Params.categories) -1 }}
      <p>{{ i18n "filed_under" }}
      {{ range $i, $cat := .Params.categories }}
        <a href="{{ "categories/" | absLangURL }}{{ $cat }}">{{ $cat }}</a>
        {{ if lt $i $last }}
        |
        {{ end }}
      {{ end }}
      </p>
    {{ end }}

    {{ if .Params.series }}
    {{ $Site := .Site }}
    {{ $postTitle := .Title }}
    <p>
    {{ i18n "series_label" }} <b><a href="{{ "series/" | absLangURL }}{{ .Params.series | urlize }}">{{ .Params.series }}</a></b> {{ i18n "series_suffix" }}
        <br>{{ i18n "series_other" }}
        <ul class="series">
            {{ $seriesUrl := print "series/" (.Params.series | urlize) }}
            {{ $series := .Site.GetPage $seriesUrl }}
            {{ range $series.Pages }}
            <li>
                {{ .Date | time.Format ":date_long" }} -
                {{ if ne .Title $postTitle }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </p>
    {{ else }}
	    {{ if .PrevInSection }}
        <div class="previous-post">
          <a href="{{ .PrevInSection.Permalink }}?ref=footer"><span style="font-weight:bold;">« {{ i18n "prev" }}</span><br>{{ .PrevInSection.Title | truncate 50 "..."}}</a>
        </div>
      {{ end }}
	    {{ if .NextInSection }}
        <div class="next-post">
          <a href="{{ .NextInSection.Permalink }}?ref=footer"><span style="font-weight:bold;">{{ i18n "next" }} »</span><br>{{ .NextInSection.Title | truncate 50 "..." }}</a>
        </div>
      {{ end }}
      <div class="clear"></div>
    {{ end }}
</div>
