{{ partial "head/head.html" . }}
    <body class="{{ if .Site.Params.dark_mode }}dark-theme{{ end }}{{ if or (and (eq .Kind "page") (not .Params.hideToc) (not .Site.Params.hideToc) (findRE "<li>" .TableOfContents)) (eq .Kind "home") }} has-toc{{ end }}">
        {{ partial "wip-banner.html" . }}
        {{- if and .Site.Params.boot_splash (templates.Exists "partials/boot-splash.html") }}
        {{ partial "boot-splash.html" . }}
        <script>if(localStorage.getItem('boot-done')&&(Date.now()-Number(localStorage.getItem('boot-done')))<86400000)document.getElementById('boot-splash').remove();</script>
        {{- end }}
        <div class="sticky-top">
            {{ partial "header.html" . }}
            {{- if and (eq .Kind "page") (not .Params.hideToc) (not .Site.Params.hideToc) (findRE "<li>" .TableOfContents) }}
            <details class="toc-mobile-bar">
                <summary>{{ i18n "contents" | default "Contents" }}</summary>
                {{ replaceRE `id="TableOfContents"` `id="MobileTableOfContents"` .TableOfContents | safeHTML }}
            </details>
            {{- end }}
        </div>
        <div class="sidebar-overlay"></div>
        <div class="wrapper">
            {{ partial "sidebar/sidebar.html" . }}
            <main class="content container">
                {{ block "main" . -}}{{- end }}
            </main>
            {{ block "sidebar" . }}{{ end }}
        </div>
    </body>
</html>
