{{ partial "head/head.html" . }}
    <body class="{{ if .Site.Params.dark_mode }}dark-theme{{ end }}{{ if and (eq .Kind "page") (not .Params.hideToc) (not .Site.Params.hideToc) }} has-toc{{ end }}">
        {{ partial "header.html" . }}
        <div class="sidebar-overlay"></div>
        <div class="wrapper">
            {{ partial "sidebar/sidebar.html" . }}
            <main class="content container">
                {{ block "main" . -}}{{- end }}
            </main>
            {{ block "sidebar" . }}{{ end }}
        </div>
    </body>
</html>
