{{ define "main" -}}
<div data-pagefind-ignore>
{{ if .Params.featuredImage }}
<div class="featured-image">
    {{ $img := .Resources.GetMatch .Params.featuredImage }}
    {{ if $img }}
    <img src="{{ $img.RelPermalink }}" alt="{{ .Title }}">
    {{ else }}
    <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}">
    {{ end }}
</div>
{{ end }}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Pages.GroupByDate "2006" }}
        <h3 style="text-align: center;">{{ .Key }}</h3>
        {{ range .Pages }}
            <li>
                <span class="title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </span>
                <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
                </span>
            </li>
        {{ end }}
    {{ end }}
</ul>
</div>
{{ end }}
