{{ define "main" -}}
{{- if or (eq .Params.list_layout "magazine") (eq site.Params.list_layout "magazine") -}}
{{ partial "list-magazine-body.html" . }}
{{- else -}}
<div data-pagefind-ignore>
{{ partial "featured-image.html" . }}
<h1 class="title">{{ .Title }}</h1>
{{ range .Pages.GroupByDate "2006" }}
    <h3 class="entries-year">{{ .Key }}</h3>
    <ul class="entries">
        {{ range .Pages }}
            <li>
                <span class="title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </span>
                <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
                </span>
            </li>
        {{ end }}
    </ul>
{{ end }}
</div>
{{- end -}}
{{- end }}
