{{ define "main" -}}
<div class="post">
  {{ partial "post/info.html" . }}
  {{ partial "post/vintage-banner.html" . }}
  {{- if .Truncated -}}
    {{- $rest := strings.TrimPrefix (string .Summary) (string .Content) -}}
    {{- if ne (string .Content) $rest -}}
  {{ .Summary }}<span id="more"></span>{{ $rest | safeHTML }}
    {{- else -}}
  {{ .Content }}
    {{- end -}}
  {{- else -}}
  {{ .Content }}
  {{- end -}}
  {{ partial "post/navigation.html" . }}
  {{ if or (.Site.Params.remark42) (.Site.DisqusShortname) }}
    {{ partial "post/comments.html" . }}
  {{ end }}
</div>
{{- end }}
{{ define "sidebar" }}
  {{ if and (not .Params.hideToc) (not .Site.Params.hideToc) (findRE "<li>" .TableOfContents) }}
    {{ partial "table_of_contents.html" . }}
  {{ end }}
{{ end }}
