{{ define "main" -}}
<div class="about">
    {{ with .Site.GetPage "/about" -}}
    {{ if .Params.featuredImage }}
    <div class="about-cover">
        {{ $img := .Resources.GetMatch .Params.featuredImage }}
        {{ if $img }}
        <img src="{{ $img.RelPermalink }}" alt="{{ .Title }}">
        {{ else }}
        <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}">
        {{ end }}
    </div>
    {{ end }}
    {{ if .Pages }}
        {{ range .Pages }}
            <h1 data-pagefind-meta="title">{{ .Title }}</h1>
            {{ .Content }}
        {{ end }}
    {{ else }}
        <h1 data-pagefind-meta="title">{{ .Title }}</h1>
        {{ .Content }}
    {{ end }}
    {{- end }}
</div>
{{ end }}
