{{- $page := . -}}
{{- $linkable := true -}}
{{- if reflect.IsMap . -}}
  {{- $page = .page -}}
  {{- $linkable = .linkable -}}
{{- end -}}
{{ if $page.Params.featuredImage }}
<div class="featured-image">
    {{ if $linkable }}<a href="{{ $page.Permalink }}" aria-label="{{ $page.Title }}">{{ end }}
    {{ $img := $page.Resources.GetMatch $page.Params.featuredImage }}
    {{ if $img }}
    {{- partial "responsive-image.html" (dict "img" $img "alt" $page.Title "lazy" false "link" false) -}}
    {{ else }}
    <img src="{{ $page.Params.featuredImage }}" alt="{{ $page.Title }}">
    {{ end }}
    {{ if $linkable }}</a>{{ end }}
</div>
{{ end }}
