{{- $pag := . -}}
<ul>
{{ range $pag.Pages }}
    <li>
        <a href="#post-{{ .File.ContentBaseName | urlize }}">{{ .Title }}</a>
        <span class="post-list-date">{{ .Date | time.Format "Jan 2006" }}</span>
    </li>
{{ end }}
</ul>
{{ if or $pag.HasPrev $pag.HasNext }}
<ul class="toc-pagination">
    {{ if $pag.HasPrev }}<li><a href="{{ $pag.Prev.URL }}">👈 {{ i18n "prev" }}</a></li>{{ end }}
    {{ if $pag.HasNext }}<li><a href="{{ $pag.Next.URL }}">{{ i18n "next" }} 👉</a></li>{{ end }}
</ul>
{{ end }}
