{{ $pag := .Paginate (where .Pages "Type" "posts") }}
{{ if gt $pag.TotalPages 1 }}
<hr>
<div class="footer">
<nav id="page-nav">

    {{ if $pag.HasPrev }}
    <a href="{{ $pag.Prev.PageURL }}" rel="prev" class="extend prev">&laquo; {{ i18n "prev" }}</a>
    {{ end }}
    {{ range $pag.Pagers }}
    {{ if eq . $pag }}
    <span class="page-number current">{{ $pag.PageNumber }}</span>
    {{ else }}
    <a href="{{ .PageURL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <a href="{{ $pag.Next.PageURL }}" rel="next" class="extend next">{{ i18n "next" }} &raquo;</a>
    {{ end }}
</nav>
{{ end }}
