{{ define "main" }}
<div class="resume">
    {{ partial "featured-image.html" . }}
    {{ with $.Site.Params.brand_image }}<img src="{{ . }}" alt="{{ $.Site.Title }}" class="resume-photo">{{ end }}
    {{ .Content }}
    {{ with .Params.downloads }}
    <div class="resume-download">
        {{ range . }}
        <a href="{{ .url }}" class="resume-btn" download>{{ .label }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ with .Params.footer_images }}
<div class="resume-footer">
    <div class="resume-footer-images">
        {{ range . }}
        <div>
            {{ with .link }}<a href="{{ . }}">{{ end }}
                <img src="{{ .src }}" alt="{{ .alt }}" class="resume-nebula">
            {{ with .link }}</a>{{ end }}
            {{ with .caption }}<p class="resume-nebula-caption">{{ . }}</p>{{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
