{{ define "main" -}}
<div class="posts">
    {{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
    {{ range (.Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes)).Pages }}
    <article class="post" id="post-{{ .File.ContentBaseName | urlize }}">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
        {{ .Content }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}#comments">{{ i18n "leave_comment" }}</a>
        </div>
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}#more">{{ i18n "read_more" }}</a>
        </div>
        {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
{{ define "sidebar" }}
{{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
{{ $pag := .Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes) }}
<div class="article-toc">
    <div class="toc-wrapper toc-desktop">
        <h4 id="contents">{{ i18n "posts_in_page" }}</h4>
        <nav id="TableOfContents">
            <ul>
            {{ range $pag.Pages }}
                <li>
                    <a href="#post-{{ .File.ContentBaseName | urlize }}">{{ .Title }}</a>
                    <span class="post-list-date">{{ .Date | time.Format "Jan 2006" }}</span>
                </li>
            {{ end }}
            </ul>
            {{ if or $pag.HasPrev $pag.HasNext }}
            <ul class="toc-pagination">
                {{ if $pag.HasPrev }}<li><a href="{{ $pag.Prev.URL }}">&laquo; {{ i18n "prev" }}</a></li>{{ end }}
                {{ if $pag.HasNext }}<li><a href="{{ $pag.Next.URL }}">{{ i18n "next" }} &raquo;</a></li>{{ end }}
            </ul>
            {{ end }}
        </nav>
    </div>
    <details class="toc-wrapper toc-mobile">
        <summary>{{ i18n "posts_in_page" }}</summary>
        <nav>
            <ul>
            {{ range $pag.Pages }}
                <li>
                    <a href="#post-{{ .File.ContentBaseName | urlize }}">{{ .Title }}</a>
                    <span class="post-list-date">{{ .Date | time.Format "Jan 2006" }}</span>
                </li>
            {{ end }}
            </ul>
            {{ if or $pag.HasPrev $pag.HasNext }}
            <ul class="toc-pagination">
                {{ if $pag.HasPrev }}<li><a href="{{ $pag.Prev.URL }}">&laquo; {{ i18n "prev" }}</a></li>{{ end }}
                {{ if $pag.HasNext }}<li><a href="{{ $pag.Next.URL }}">{{ i18n "next" }} &raquo;</a></li>{{ end }}
            </ul>
            {{ end }}
        </nav>
    </details>
</div>
{{ end }}
